@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans Thai", sans-serif;
}

/* add the code bellow */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
