@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans Thai", sans-serif;
}

.hero-background {
  background-image: url("./assets/rainbow-vortex.svg"); /* ระบุเส้นทางที่ถูกต้องของรูปภาพ */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #454545;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #959595;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a6a6a6;
}

/* add the code bellow */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
